.galleryCard {
    position: absolute;
    background: linear-gradient(var(--color-container-header-shadow),
            var(--color-container-header-light));
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 380px;
    max-width: var(--cardSize);
    width: 100%;
    left: calc(var(--cardSize) * -1);
    align-items: center;
    margin: 0 50px 0 0;
    box-shadow: 0px 1px 8px var(--color-button-light-shadow);
    animation: moveCards var(--galleryTimer) linear infinite;
    animation-delay: calc((var(--galleryTimer) / var(--quantityCards)) * (var(--cardPosition) - 1));
}

@keyframes moveCards {
    from {
        left: calc(var(--cardSize) * -1);
    }

    to {
        left: 100%;
    }
}

.galleryContainer:hover .galleryCard {
    animation-play-state: paused !important;
    filter: grayscale(1);
}

-galleryContainer .galleryCard:hover {
    filter: grayscale(0);
}

.galleryImage {
    position: absolute;
    left: -100px;
    width: 600px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.galleryImageContainer {
    position: relative;
    width: 380px;
    height: 400px;
    overflow: hidden;
    background-color: red;
}