.headerBar {
    margin: var(--space-3);
    padding: var(--space-3) var(--size-gutter);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-shadows);
    border-radius: 10px;
}

.headerLink {
    font-size: var(--font-sm);
    text-decoration: none;
}

.headerIcon {
    width: 100%;
    height: 100%;
}

.headerIconContainer {
    width: 90px;
}