.headerBar {
    margin: var(--space-4) var(--size-gutter);
    padding: var(--space-3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-container-header-shadow);
    border-radius: 10px;
}

.headerTitle {
    font-size: var(--font-md);
    color: var(--color-text);
    font-weight: normal;
    margin: 0;
}

.headerDescription {
    font-size: var(--font-sm);
    font-weight: normal;
    margin: 0;
}

.headerIcon {
    width: 100%;
    height: 100%;
}

.headerIconContainer {
    width: 90px;
}